<ytm-playlist-panel-video-renderer class="item" selected="true">
    <div class="compact-media-item" data-has-subscribe-button=""><a class="compact-media-item-image" aria-hidden="true"
                                                                    href="/watch?v=J3eqAxYPkmA&amp;list=RDJ3eqAxYPkmA&amp;index=1">
        <div class="video-thumbnail-container-compact center video-thumbnail-container-compact-rounded">
            <div class="cover video-thumbnail-img video-thumbnail-bg"></div>
            <img alt="" class="cover video-thumbnail-img" src="https://i.ytimg.com/vi/J3eqAxYPkmA/mqdefault.jpg">
            <div class="video-thumbnail-overlay-bottom-group">
                <ytm-thumbnail-overlay-time-status-renderer class=" rounded-container" data-style="DEFAULT"><span
                        class="icon-text">3:51</span>
                </ytm-thumbnail-overlay-time-status-renderer>
            </div>
        </div>
    </a>
        <div class="compact-media-item-metadata" data-has-badges="false"><a class="compact-media-item-metadata-content"
                                                                            href="/watch?v=J3eqAxYPkmA&amp;list=RDJ3eqAxYPkmA&amp;index=1">
            <h4 class="compact-media-item-headline">Juanes - La Camisa Negra (MTV
                Unplugged)</h4>
            <div class="subhead" aria-hidden="true">
                <div class="compact-media-item-byline small-text">Juanes</div>
            </div>
        </a></div>
    </div>
</ytm-playlist-panel-video-renderer>