<ytm-video-with-context-renderer class="item">
    <ytm-media-item class="" use-vertical-layout="true">


        <a class="media-item-thumbnail-container" onclick="showVideoView($id)" aria-hidden="true"
                                                           href111="/watch?v=ZWKpPDI1M-o">
        <div class="video-thumbnail-container-large center rounded-thumbnail">
            <div class="cover video-thumbnail-img video-thumbnail-bg"></div>
            <img alt=""
                 class="cover video-thumbnail-img yt-core-image--fill-parent-height yt-core-image--fill-parent-width yt-core-image yt-core-image--content-mode-scale-aspect-fill yt-core-image--loaded"
                 src="$img">
            <div class="video-thumbnail-overlay-bottom-left-right-group">
                <div class="video-thumbnail-overlay-left-right-group">
                    <ytm-thumbnail-overlay-time-status-renderer class=" rounded-container" data-style="DEFAULT"><span
                            class="icon-text">VideoDuration</span></ytm-thumbnail-overlay-time-status-renderer>
                </div>
            </div>
        </div>
    </a>
        <div class="details">
            <div class="media-channel">
                <ytm-channel-thumbnail-with-link-renderer><a href="/channel/UCgQna2EqpzqzfBjlSmzT72w">
                    <ytm-profile-icon class="channel-thumbnail-icon" aria-hidden="false" aria-label="Перейти на канал">
                        <img alt=""
                             src="https://yt3.ggpht.com/QWfmpICEderM8Frv_hjaJdoiAlkztJYh-uYgWyYeDydHssTZPuTwJr5-ETeAq4xdNUO_cX4-=s88-c-k-c0x00ffffff-no-rj">
                    </ytm-profile-icon>
                </a></ytm-channel-thumbnail-with-link-renderer>
                <a class="media-item-extra-endpoint" aria-hidden="true" href="/watch?v=ZWKpPDI1M-o"></a></div>
            <div class="media-item-info cbox" no-channel-avatar="false">
                <div class="media-item-metadata"><a href="/watch?v=ZWKpPDI1M-o"><h3 class="media-item-headline">
                    $name</h3>
                    <div class="" aria-hidden="true">
                        <ytm-badge-and-byline-renderer class="" data-is-all-badges=""><span
                                class="ytm-badge-and-byline-item-byline small-text" dir="auto" aria-hidden="true">@$channel</span><span
                                class="ytm-badge-and-byline-separator" aria-hidden="true">•</span><span
                                class="ytm-badge-and-byline-item-byline small-text" dir="auto" aria-hidden="true">CountOfView просмотров</span>
                        </ytm-badge-and-byline-renderer>
                    </div>
                </a></div>
                <ytm-menu-renderer class="media-item-menu">
                    <ytm-menu>
                        <button class="icon-button " aria-label="Меню действий" aria-haspopup="true">
                            <c3-icon>
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24"
                                     viewBox="0 0 24 24" width="24">
                                    <path d="M12,16.5c0.83,0,1.5,0.67,1.5,1.5s-0.67,1.5-1.5,1.5s-1.5-0.67-1.5-1.5S11.17,16.5,12,16.5z M10.5,12 c0,0.83,0.67,1.5,1.5,1.5s1.5-0.67,1.5-1.5s-0.67-1.5-1.5-1.5S10.5,11.17,10.5,12z M10.5,6c0,0.83,0.67,1.5,1.5,1.5 s1.5-0.67,1.5-1.5S12.83,4.5,12,4.5S10.5,5.17,10.5,6z"></path>
                                </svg>
                            </c3-icon>
                        </button>
                    </ytm-menu>
                </ytm-menu-renderer>
            </div>
        </div>
    </ytm-media-item>
</ytm-video-with-context-renderer>